<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="Server" value="10.10.1.12" xdt:Transform="Replace" xdt:Locator="Match(name)" />
    <add key="LicenseServer" value="10.10.1.12" xdt:Transform="Replace" xdt:Locator="Match(name)" />
    <add key="DbUserName" value="sa" xdt:Transform="Replace" xdt:Locator="Match(name)" />
    <add key="DbPassword" value="SAP#Sql_" xdt:Transform="Replace" xdt:Locator="Match(name)" />
    <add key="UserName" value="manager" xdt:Transform="Replace" xdt:Locator="Match(name)" />
    <add key="Password" value="@dmiN123*" xdt:Transform="Replace" xdt:Locator="Match(name)" />
    <add key="CompanyDB" value="SBO_COLONIAL_PRODUCTIVA" xdt:Transform="Replace" xdt:Locator="Match(name)" />

  </appSettings>


</configuration>