<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Server" value="10.10.1.12" />
    <add key="LicenseServer" value="10.10.1.12" />
    <add key="DbUserName" value="sa" />
    <add key="DbPassword" value="SAP#Sql_" />
    <add key="UserName" value="manager" />
    <add key="Password" value="@dmiN123*" />
    <add key="CompanyDB" value="SBO_CBR_COLONIAL_PRUEBAS" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
    <add name="SAP"
      connectionString="data source=10.10.1.12;initial catalog=SBO_CBR_COLONIAL_PRUEBAS;persist security info=True;user id=sa;password=SAP#Sql_;MultipleActiveResultSets=True;App=EntityFramework"
      providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>