<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="HQEF" connectionString="data source=10.10.1.12;initial catalog=ApiSAPTest;persist security info=True;user id=sa;password=password=SAP#Sql_;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" xdt:Transform="Replace" xdt:Locator="Match(name)" />
  </connectionStrings>
</configuration>